<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>
    <h1>Hello! Enter a sentence and we will invite you to choose a word to change and what to change it to!</h1>
    <form action="/" method="post">
      <input type="text-field" name="sentence" placeholder="Enter a sentence"></input>
      <input type="text-field" name="wordChoice" placeholder="Enter a word to change"></input>
      <input type="text-field" name="replaceChoice" placeholder="Enter a word to change it to"></input>

      <button type="submit" name="submit">gogogo</button>
    </form>

    <ul>
      @{
        if(Model!=null)
        {

            <h2>This is your sentence: @Model</h2>

        }
      }
    </ul>
  </body>
</html>
