<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>
    <h1>Pick your weapon!</h1>
    <form action="/player2" method="post">
      <button type="submit" name="player1" value="Rock">Rock</button>
    </form>
    <form action="/player2" method="post">
      <button type="submit" name="player1" value="Scissors">Scissors</button>
    </form>
    <form action="/player2" method="post">
      <button type="submit" name="player1" value="Paper">Paper</button>
    </form>

    <ul>
      @{
        if(Model!=null)
        {

            <h2>WINNER IS: @Model</h2>

        }
      }
    </ul>
  </body>
</html>
